<?xml version="1.0"?>
<launch>
   <!-- publish state and tf -->
   <arg name="simulation" default="true" />
   <group if="$(arg simulation)">
  	<!-- Load mitsubishi arm hardware interface and controller manager -->
  	<include file="$(find mitsubishi_arm_gazebo)/launch/mitsubishi_arm_world.launch"/>

  	<!-- Load mitsubishi and barrett controllers -->
  	<include file="$(find mitsubishi_barrett_control)/launch/mitsubishi_barrett_control_gazebo.launch" />

  	<!-- Given the published joint states, publish tf for the robot links -->
  	<include file="$(find mitsubishi_barrett_config)/launch/moveit_gazebo.launch"/>
   </group>
   <group unless="$(arg simulation)">
  	<!-- Load mitsubishi arm hardware interface and controller manager -->
  	<include file="$(find mitsubishi_barrett_hardware_interface)/launch/mitsubishi_barrett_hardware_interface.launch"/>

  	<!-- Load mitsubishi arm controllers -->
  	<include file="$(find mitsubishi_barrett_control)/launch/mitsubishi_barrett_control.launch"/>

  	<!-- Given the published joint states, publish tf for the robot links -->
  	<include file="$(find mitsubishi_barrett_config)/launch/moveit.launch"/>
   </group>

  <node name="static_environment" pkg="mitsubishi_arm_move" type="static_environment" />
</launch>

