<?xml version="1.0"?>
<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find mitsubishi_barrett_control)/config/mitsubishi_barrett_control_gazebo.yaml" command="load"/>

  <node ns="/mitsubishi_barrett" pkg="controller_manager" type="spawner" name="controller_spawner" respawn="false" output="screen" args="joint_state_controller mitsubishi_trajectory_controller barrett_trajectory_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/mitsubishi_barrett/joint_states" />
  </node>
</launch>
